NODE_ENV=development
LOCAL_CONSOLE=false
SERVER_PORT=4000
USER_DB_URI=mongodb://mongodb:27017/proioUserService
MATCH_DB_URI=mongodb://mongodb:27017/proioMatchService
GAME_DB_URI=mongodb://mongodb:27017/proioGameService
RABBITMQ_URI=amqp://rabbitmq
LOGS_QUEUE=logs
ACCESS_TOKEN_SECRET=secret1
REFRESH_TOKEN_SECRET=secret2